.settings/
autom4te.cache/
.autotools
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
.cproject
.project
*~
*#
.vscode
INSTALL
*.o
*.o.tmp
*.lo
*.la
.deps/
.libs/
*.a
*.dSYM
*.exe
*.dll
stamp-h1
config.h
config.h.in
config.h.in~
.dirstamp
m4
bak
audacious-uade-*
*.tar.bz2
debian/changelog
build-deb
build-rpm
build
test-driver
*.log
*.trs
build-tmp
.metals
.scala-build
.bsp
*.wasm
*.worker.js
*.aarch64.elf
*.com.dbg
