.settings/
autom4te.cache/
.autotools
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
.cproject
.project
*~
*#
.vscode
INSTALL
*.lo
*.la
.deps/
.libs/
stamp-h1
config.h
config.h.in
config.h.in~
.dirstamp
*.dSYM
uade_convert
