Source: audacious-uade
Section: sound
Priority: optional
Maintainer: Matti Tiainen <mvtiaine@cc.hut.fi>
Homepage: https://github.com/mvtiaine/audacious-uade
Build-Depends:
 audacious-dev,
 libbsd-dev,
 autotools-dev,
 autoconf,
 autoconf-archive,
 automake,
 libtool,
 pkg-config,
 make,
Standards-Version: 4.6.2

Package: audacious-uade
Architecture: any
Multi-Arch: same
Depends:
 audacious,
 libbsd0
Description: UADE plugin for Audacious music player
